.media-node-view {
  position: relative;
  &.f-left {
    @apply float-left
  }
  &.f-right {
    @apply float-right
  }
  &.align-left {
    @apply justify-start
  }
  &.align-center {
    @apply justify-center
  }
  &.align-right {
    @apply justify-end
  }
  .horizontal-resize-handle,
  .vertical-resize-handle {
    @apply absolute hover:bg-blue-200 z-50 opacity-50
  }
  .horizontal-resize-handle {
    @apply h-full w-2 top-0 right-0 cursor-col-resize
  }
  .vertical-resize-handle {
    @apply w-full h-2 bottom-0 left-0 cursor-row-resize
  }
}
.image-actions-container {
  @apply flex gap-1
}
.media-actions-container {
  padding: 4px !important;
  width: fit-content !important;
  .ep-button+.ep-button {
    margin-left: 0px;
  }
}
